{
  "extends": "airbnb",
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ],
  "rules": {
    "comma-dangle": ["error", "never"],
    "no-underscore-dangle": ["off"],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": [ "error", {
      "specialLink": [ "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "react/prop-types": ["off"],
    object-curly-spacing: ["warn"],
    quote-props: ["warn"],
    key-spacing: ["warn"],
    comma-spacing: ["warn"],
    quotes: ["warn"],
    no-unused-vars: ["error", { "argsIgnorePattern": "^_" }],
    padded-blocks: ["warn"],
    react/no-unused-state: ["warn"],
    max-len: ["warn", { "code": 120 }],
    "react/jsx-no-bind": ["error", {"allowBind": true, "allowArrowFunctions": true}]
  },
  "env": {
    "browser": true
  }
}