@import "../utils/_style.scss";

$input_h: 40px;

.body_block{
  max-width: $app_max_w;
  margin: 0 auto;
  padding: $app_s*2;
  .todo_block{
    width: 600px;
    margin: 0 auto;
    .input_block{
      overflow: auto;
      & > div{
        margin-right: 60px;
      }
      input, button{
        height: $input_h;
        outline: none;
        border: solid $gray_c 1px;
        padding: $app_s/2;
        font-size: 16px;
      }
      input{
        display: inline-block;
        width: 100%;
        float: left;
        border-radius: 4px 0px 0px 4px;
      }
      button{
        float: right;
        width: 61px;
        margin-left: -1px;
        border-radius: 0px 4px 4px 0px;
        &:hover{
          background-color: $main_c;
          color: $white_c;
        }
      }
    }
    .list_block{
      margin-top: $app_s*2;

    }
  }
}