@import "../utils/_style.scss";

$header_h: 100px;

.app_footer{
  height: $header_h;
  text-align: center;
  background-color: $lightGray_c;
  .footer_block{
    margin: 0 auto;
    max-width: $app_max_w;
    position: relative;
    .copyright_block{
      text-align: center;
      font-size: 16px;
      line-height: $header_h;
      display: inline-block;
      @include mobileWidth{
        line-height: 100%;
        margin-top: $app_s*2;
      }
    }
  }
}