$main_c: #0069b3;
$lightMain_c: #149dfe;
$text_c: #4a4a4a;
$white_c: #fff;
$black_c: #000;
$gray_c: #979797;
$middleGray_c: #ccc;
$lightGray_c: #f9f9f9;
$menuGray_c: #6a6a6a;
$menuGray_hover_c: #464646;
$black_c: #333;
$lightBlue_c: #aedbfb;
$red_c: #b70000;
$app_s: 12px;
$white_opacity4_c: rgba($white_c, 0.4);
$white_opacity6_c: rgba($white_c, 0.6);
$white_opacity9_c: rgba($white_c, 0.9);
$black_opacity7_c: rgba($black_c, 0.7);
$black_opacity9_c: rgba($black_c, 0.9);

$main_f: "Microsoft JhengHei", "Arial", sans-serif; // Microsoft JhengHei 微軟正黑體

/* 大廳叫號面板RWD */
$min_w: 880px;
$small_w: 1024px;
$middle_w: 1480px;
$large_w: 1800px;
$max_w: 1980px;

@mixin largeWidth() {
  @media all and (max-width: $large_w) { @content; }
}
@mixin middleWidth() {
  @media all and (max-width: $middle_w) { @content; }
}
@mixin smallWidth() {
  @media all and (max-width: $small_w) { @content; }
}

/* 醫院主畫面RWD */
$app_max_w: 1200px;
$app_mobile_w: 1100px;

@mixin mobileWidth() {
  @media all and (max-width: $app_mobile_w) { @content; }
}


div{
  box-sizing: border-box;
}

.clearBox{
  clear: both;
  padding-bottom: 18px;
  @include largeWidth {
    padding-bottom: 14px;
  }
  @include middleWidth {
    padding-bottom: 10px;
  }
  @include smallWidth {
    padding-top: 8px;
  }
}